<div id="slides-container">
    <div class="item-random slide-item"
     data-slide-title="{{ slideshow_slide.title }}"
    {% if slideshow_slide.image %}
      style="background-image: url('{{ slideshow_slide.image.url }}');"
     {% endif %}
     {% if slideshow_slide.url %}
      data-slide-url="{{ slideshow_slide.url }}"
     {% endif %}>
        <div class="row content">
            {% if slideshow_slide.content %}<div class="six columns well-box">
            {{ slideshow_slide.content|safe }}
            </div>{% endif %}
        </div>
    </div>
</div>